@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    margin: 0;
    background-image: url(background.png); 
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}
/* Nav_bar */

.nav_bar li {
    display: inline;
}
.nav_bar li a {
    display: block;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 7px 5% 6px 5%;
    text-decoration: none;
    border-bottom: 5px solid #294977;
    display: inline-block;
}
.nav_bar li a:hover:not(.active) {
    border-bottom: 2px solid #3d7cb9;
    transition: .2s;
}
nav {
    background-color: #294977;
    border-top: 5px solid #294977;
    text-align: center;
    font-size: 70%; 
    position: fixed;
    width: 100%;
}

/* Body */ 

div.icon{
    font-size: 40px;
    font-weight: bold; 
    text-align: center;
    text-transform: uppercase; 
    padding-top: 50px;
}
div.icon img {
    margin-top: 50px; 
}
div.icon h1{
    font-weight: bold; 
    color: white;
}
div.icon h2{
    margin-top: -70px; 
    color: #4789c8; 
}
div.icon hr {
    width: 28%;
    opacity: 0.5;
}
div.statistics {
    text-align: center; 
    margin-top: 20px; 
    color: white;

}
div.statistics h1 {
    font-size: 50px; 
    font-weight: normal; 
}
div.statistics h2 {
    font-size: 40px; 
    text-transform: uppercase; 
    opacity: 0.4;
    margin-top: -20px; 
}
p.about {
    color: white;
    text-align: center;
    width: 700px; 
    line-height: 2;
    margin-left: calc(50% - 350px);
}
/* Footer */
.footer {
    background-color: #333;
    margin-top:50px;
    padding-top: 15px;
    padding-bottom: 10px;
    position:relative;
    left:0;
    bottom:0;
    width:100%;
}

.footer p {
    margin-left: 20%;
    margin-right: 20%;
    color: white;
}





.Count {
    display: block;
    font-size : 30px;
    color: red;
}